#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* .content {
  display: flex !important;
} */

.css-e4qio2-RichTextField-content-RichTextContent-root-RichTextContent-editable .ProseMirror[contenteditable="true"] {
  max-height: 40vh;
  overflow-y: scroll;
}

.rich-text-editor {
  margin: 2vh auto !important;
  margin-bottom: 0;
  max-width: 93%;
}

#to-textfield {
  text-align: left !important;
  direction: ltr !important;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Rubik', sans-serif;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	/* margin: 2vh auto !important; */
  margin-bottom: 0;
  max-width: 97%;
  max-height: 40vh;
  overflow-y: scroll;
}

.ck-powered-by-balloon {
  display: none !important;
}

